[submodule "language-libraries/scala"]
	path = language-libraries/scala
	url = git@github.com:fjak/lang-scala.git
[submodule "case-studies/test-scala"]
	path = case-studies/test-scala
	url = git@github.com:fjak/test-scala.git
[submodule "case-studies/scala-xml"]
	path = case-studies/scala-xml
	url = git@github.com:fjak/scala-xml.git
